Thumbs.db
/run
/out
/gradle
/eclipse
/build
/.gradle
gradlew
gradlew.bat
gradle.properties
*.iml
*.ipr
*.iws
*.iml
/bin
.classpath
.project
/.settings
*.launch
src/main/resources/assets/springfestival/textures/entity/christmas.png
src/main/resources/assets/springfestival/textures/entity/christmas_double.png
